<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fraud2020</title>
  <link rel="stylesheet" href="/stylesheets/index.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <script src="https://js.stripe.com/v3/"></script>
</head>

<body>
  <div class='container-fluid'>
    <!-- <h1 id='header'>FRAUD2020</h1> -->
    <div class='row'>

      <div class='col-xs-12 col-md-6 left'>
        <div id='pic-div'>
          <img class='pic' src="/images/sample.png" alt="">
        </div>
      </div>

      <div class='col-xs-12 col-md-6 right'>

        <ul id='ul'>
          <!-- <div id='selection-row'> -->
          <li class='li first' id='1'>
            <!-- <div> -->
            <select name="quantity" id="quantity">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
            <!-- </div> -->

            <!-- <div> -->
            <select name="product" id="product">
              <option value="shirt">T-Shirt</option>
              <option value="hoodie">Hoodie</option>
            </select>
            <!-- </div> -->

            <!-- <div> -->
            <select name="size" id="size">
              <option value="medium">Medium</option>
              <option value="small">Small</option>
              <option value="large">Large</option>
              <option value="xs">Extra Large</option>
            </select>
            <!-- </div> -->
            <div class='icon-div'>
              <i id='minus-button' class="material-icons">remove</i>
            </div>
          </li>
          <!-- </div> -->
        </ul>
        <div class='checkout-div'>
          <button type="button" id='checkout-button' class="btn btn-info">Checkout</button>
          <!-- <div class='add-div'> -->
          <i id='add-button' class="material-icons">add</i>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>

  <script src="scripts/script.js"></script>
</body>

</html>