html,
body {
  height: 100%;
  /* overflow-y: hidden; */
  background-color: #e7f5f7;
}

.container-fluid {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e7f5f7;
}

#header {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 5%;
  text-align: center;
  z-index: 1;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 55px;
}

.row {
  /* background-color: black; */
  height: fit-content;
  margin: 0px;
  /* border: 1px black solid; */
  width: 65%;

  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;
}

.left {
  display: flex;
  justify-content: flex-start;
  padding-left: 0px;
  padding: 0 !important;
  background-color: white;
}

.pic {
  width: 100%;
  height: 500px;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  /* background-color: red; */
}

#ul {
  /* background-color: green; */
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-self: start;
  padding-left: 0;
  flex-direction: column;
}

.li {
  display: flex;
  flex-direction: row;
  /* background-color: blue; */
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

#add-button,
#minus-button {
  transition: color ease 0.5s;
  font-size: 35px;
}

#add-button:hover,
#minus-button:hover {
  cursor: pointer;
  color: #17a2b8;
}

.checkout-div {
  position: relative;
  margin-bottom: 15px;
  width: 100%;
  /* background-color: red; */
  text-align: center;
}
#checkout-button {
  position: relative;
}

#add-button {
  position: absolute;
  bottom: 30;
  left: 40;
  right: 0;
  /* background-color: green; */
}

/*    Mobile      */

@media (max-width: 765px) {
  .container-fluid {
    /* background-color: red; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
  }

  #header {
    display: none;
  }

  .left {
    justify-content: center;
    height: 60%;
    background-color: white;
  }

  .row {
    height: 90%;
    border: none;
    width: 99%;
  }

  .pic {
    width: 300px;
    height: 300px;
  }
  .right {
    /* background-color: red; */
    height: 40%;
  }
  #ul {
    /* justify-content: space-around; */
  }
  .li {
    padding: 10px 0 0 0;

    /* justify-content: space-around; */
  }

  .checkout-div {
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
  }
}

/*     ///////////////////       */
